*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Background.png);
    background-size: cover;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #ffffff60;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 50px 35px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

form *{
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

button{
    margin-top: 30px;
    width: 100%;
    background-color: palevioletred;
    padding: 15px 10px;
    font-size: 18px;
}